{include file='common/head.html'}

<div class="layui-body">
    {if([$list])}
    <div class="layui-tab layui-tab-brief" lay-filter="tab">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="t1">报告列表</li>
            <li lay-id="t2">报告新增</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>关键字</th>
                            <th>链接</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $reports(key,value)}
                        <tr>
                            <td>[value->no]</td>
                            <td>[value->name]</td>
                            <td>[value->keyword]</td>
                            <td>[value->path]</td>
                            <td>
                                {fun=get_btn_del($value->id)}
                                {fun=get_btn_mod($value->id)}
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
                <div class="page">{$pagebar}</div>
            </div>
            <div class="layui-tab-item">
                <form action="{url./admin/Report/add}" method="post" class="layui-form">
                    <input type="hidden" name="formcheck" value="{$formcheck}">

                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" placeholder="请输入名称"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="keyword" required lay-verify="required" placeholder="请输入关键字"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">附件</label>
                        <div class="layui-input-inline">
                            <input type="text" name="path" id="logo" placeholder="请上传图片" class="layui-input">
                        </div>
                        <button type="button" class="layui-btn upload" data-des="logo">
                            <i class="layui-icon">&#xe67c;</i>上传附件
                        </button>
                        <div id="logo_box" class="pic"></div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">附件</label>
                        <div class="layui-input-inline">
                            <input type="text" name="path" id="path" placeholder="请上传PDF" class="layui-input">
                        </div>
                        <button type="button" class="layui-btn file" data-des="path"></button>
                        <i class="layui-icon">&#xe67c;</i>上传文件
                        </button>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit>立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {/if}

    {if([$mod])}
    <div class="layui-tab layui-tab-brief" lay-filter="tab">
        <ul class="layui-tab-title">
            <li class="layui-this">报告修改</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form action="{url./admin/Report/mod/id/'.[$get.id].'}{$backurl}" method="post" class="layui-form">
                    <input type="hidden" name="formcheck" value="{$formcheck}">


                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" value="{$report->name}"
                                placeholder="请输入名称" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="keyword" required lay-verify="required" value="{$report->keyword}" placeholder="请输入关键字"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">附件</label>
                        <div class="layui-input-inline">
                            <input type="text" name="path" id="path" value="{$report->path}" placeholder="请上传PDF" class="layui-input">
                        </div>
                        <button type="button" class="layui-btn file" data-des="path"></button>
                        <i class="layui-icon">&#xe67c;</i>上传文件
                        </button>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit>立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            {fun=get_btn_back()}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {/if}
</div>
{include file='common/foot.html'}